<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-4">
        <div class="row" ng-controller="NotesController as vm">
            <!--wrap the data in paginator directive-->
            <server-paginator uri="/api/notes/" limit="5" server-data="data">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <form method="post" ng-submit="vm.findNotes(vm.stringToFind)">
                            <input type="search" class="form-control" placeholder="write tags here to find notes"
                                   ng-model="vm.stringToFind">
                        </form>
                    </div>
                    <div class="list-group" ng-repeat="item in data.data.notes">
                        <a href="#" class="list-group-item"></a>

                        <div>
                            <h4 class="list-group-item-heading">{{item.data}}</h4>

                            <div>{{item.translation}}</div>
                            <p class="list-group-item-text">{{item.description}}</p>

                            <p class="list-group-item-text">
                                <div ng-repeat="tag in item.tags">
                                    <a href="#" ng-click="vm.findNotes(tag)">#{{tag}}</a>
                                </div>
                            </p>

                        </div>
                    </div>
                </div>
            </server-paginator>
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>