<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-4">
        <div class="row" ng-controller="NotesController as vm">
            <server-paginator uri="/api/notes/" limit="2" server-data="data" testme="moveNext()">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <form method="post" ng-submit="findNotes()">
                            <input type="search" class="form-control" placeholder="write tags here to find notes"
                                   ng-model="stringToFind">
                        </form>
                    </div>
                    <div class="panel-body" ng-repeat="item in data.data.notes">
                        <div>
                            <div class="pull-left">{{item.data}}</div>
                            <div>{{item.translation}}</div>
                            <div class="pull-right">{{item.description}}</div>
                            <div class="pull-right">{{item.tags}}</div>
                        </div>
                    </div>
                </div>
                <button ng-click="testme()">Test</button>
            </server-paginator>
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>